/*

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

  display: flex;
*/

html,body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
}
body {
	overflow: hidden;
  /*margin: 0!important;*/
 /*height: 100vh !important;*/
  /*font-size: 1.2em!important;*/
  /*background-color: #eef7ff !important;
  background-image: linear-gradient(0deg,#fff,#eef7ff) !important;*/
}

.flex-fill {
    flex:1;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

.content {
	/*overflow: auto;***/
  width: 100%!important;
 height: 98%!important;
  display: flex!important;
  justify-items: center!important;
  align-items: center!important;
}

#code{
	/*overflow: auto;
	width: 100%;
	height: 800px;*/
	/*font-size: 0.8em;*/
}

.code-editor{
	height: 100%;
	background-color: #fff;
}

.CodeMirror {
	font-family: SourceCodeProRegular, Menlo, Monaco, consolas, monospace !important;
    overflow: auto !important;
    background: white !important;
	/*height: 100vh !important;*/
	height: 90%;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	/*height: 90% !important;*/
	/*min-height: 90% !important;
    max-height: 90% !important;*/
	border-left: 0.65rem solid #007bff;
}

#console-log{
	overflow: auto;
	font-size: 0.8em;
	border:none;
	background-color:#eee;
	height: 100%;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;	
	}
::selaection{
  background: #f7a494;
}

::-moz-sealection{
  background: #f7a494;
}

.CodeMirsdfror-line:hover{
	background: #efe;
}
pre::selecation {
    background-color: blue !important;
    color: white !important;
}


nav li a {

/*
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
*/
  text-transform:uppercase;
}

.jspad-menu-item {
  display: flex;
  width: 100%;
}

.jspad-menu-item:hover, .jspad-menu-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}


.border-1 {
  border: 0.75rem solid #000;
}

.border-top-1 {
  border-top: 0.75rem solid #000;
}

.border-right-1 {
  border-right: 0.75rem solid #000;
}

.border-bottom-1 {
  border-bottom: 0.75rem solid #000;
}

.border-left-1 {
  border-left: 0.65rem solid #000;
}

.border-2 {
  border: 1.5rem solid #000;
}

.border-top-2 {
  border-top: 1.5rem solid #000;
}

.border-right-2 {
  border-right: 1.5rem solid #000;
}

.border-bottom-2 {
  border-bottom: 1.5rem solid #000;
}

.border-left-2 {
  border-left: 1.5rem solid #000;
}

/*

#btnRun a{
	background-color: green !important;
	color: #fff !important;
}

#btnRun a:hover{
	background-color: lightgreen !important;
	color: #fff !important;
}




#navxx{
	height:6%!important;
	min-height: 30px!important;
	display:block !important;
}

xnav {
    width: auto;
    height:6%!important;
	min-height: 30px!important;
	display:block !important;
}

#nav ul {
  display: block;
  margin: 0; padding: 0;
  margin-bottom: 32px;
}


#nav ul li {
  display: inline-block;
  height:100%;
  width: auto;
}

#nav ul li a{
	background-color: #aaa;
	height:100%;
	width: auto;
	padding:15px;
	color: #333;
	text-decoration:none;
	text-transform:uppercase;
	border-left: 1px solid silver;
}
#nav ul li a:hover {
  background-color: skyblue;
  border-bottom: 1px solid #E30808;
  color: #fff;
}
*/


